.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.counter {
  display: flex;
  align-items: center;
}

.btnDefault {
  background: #e4e4e4;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btnDefault:hover {
  background: #5199e6;
  color: #fff;
  transition: .2s;
}

.labelNum {
  margin: 0 10px;
  font-size: 30px;
}